.slider-wrap {
    position: relative;
    overflow: hidden;
    min-height: 265px;
}

.slider-wrap > ul {
    position: absolute;
    /*height: 20000em;*/
    list-style: none;
    margin: 0;
    padding-top: 25px;
    height: 190px;
}

.slider-wrap > ul > li {
    display: table;
    overflow: hidden;
    margin: 10px 0;
    width: 60px;
    height: 45px;
    vertical-align: middle;
}

.slider-wrap .jcarousel-prev,
.slider-wrap .jcarousel-next {
    position: absolute;
    display: block;
    width: 70px;
    height: 12px;
    text-indent: -9999px;
}

.slider-wrap .jcarousel-prev {
    top: 0;
    -webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;
}
.slider-wrap .jcarousel-prev:after {
    content: " ";
    display: block;
    width: 70px;
    height: 12px;
    background: url("../../images/sprite.png");
    background-position: -24px -57px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;
}

.slider-wrap .jcarousel-next {
    bottom: 0;
    -webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;
}


.slider-wrap .jcarousel-next:after {
    content: " ";
    display: block;
    width: 70px;
    height: 12px;
    background: url("../../images/sprite.png");
    background-position: -280px -52px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;
}


.slider-wrap .jcarousel-prev:hover {
    bottom: 0;
}
.slider-wrap .jcarousel-prev:hover:after {
    background-position: -280px -37px;
}
.slider-wrap .jcarousel-next:hover {
    bottom: 0;
}
.slider-wrap .jcarousel-next:hover:after {
    background-position: -352px -37px;
}